这个不是给安装用的，只是个说明
matplotlib
networkx
numpy
pandas
Pillow
scikit-learn
scipy
torch==1.9.1
torch-geometric
以下三个对于python 3.8，请使用目录下的三个直接pip install，其他版本python参考官网https://pytorch-geometric.com/whl/
torch-scatter
torch-sparse
torch-cluster